.principal{
	margin: 0 15px;
}

.title-section {
	padding: 7px 0;
	width: 225px;
	left: 0;
	background: #163848;
	background: rgba(5,50,75,0.90);
	border-radius: 0 0 2.5em 0;
	position: relative;
	box-shadow: 1px 2px 1px #888;
	text-align: center;
}

.title-section > .titulo {
	color: #fff;
	text-shadow: 2px 1px 1px #07314c;
	font-size: 18px;
}

#tb-title{
	background: #0c3c6b;
    color: #fff;
}

#tb-donantes{
	background: #00b3ca;
    color: #fff;
}


.noBorder{
	border-radius: 0;
}

.title-info{
	color: #fff;
	background-color: #00BCD4;
}

.title-editar{
	color: #fff;
	background-color: #259a8f;
}

.title-primary{
	color: #fff;
	background-color: #337ab7;
}

.title-success{
	color: #fff;
	background-color: #2bb736;
}

.alerta{
	position: fixed;
	z-index: 2000;
	right: 0;
	margin: 15px;
}

.menu-opciones{
	width: auto;
	height: auto;
	text-align: center;
}

.menu-opciones > .btn-opcion{
	margin: 1px 0px;
	padding: 3px 6px;
	color: #3e6577;
	background-color: #fff;
	position: relative;
	border: 1px solid #7499ab;
}

.menu-opciones > .btn-opcion:hover{
	color: #fff;
	background-color: #00BCD4;
	transition: all .5s ease;
	cursor: pointer;
}