.principal{
	margin: 0 15px;
}

.title-section {
	padding: 7px 0;
	width: 225px;
	left: 0;
	background: #005d90;
	border-radius: 0 0 2.5em 0;
	position: relative;
	box-shadow: 0 1px 0 1px #ccc;
	
	text-align: center;
}

.title-section > .titulo {
	color: #fff;
	text-shadow: 2px 1px 1px #07314c;
	font-size: 18px;
}

h4 > .badge {
	color: white;
	background: rgba(0, 0, 0, 0.35);
	padding: 6px;
}
.panel-menu {
    border: 1px solid #ccc;
    margin-bottom: 25px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
}

.panel-menu:hover {
    transition: 1s;
    color: #4caf50;
}
.panel-menu > .panel-heading {
    color: #fff;
    background-color: #0d48a0;
    border-color: #0a5396;
}

.panel-menu > .panel-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-weight: bold;
}

#tb-title{
	background: #0c3c6b;
    color: #fff;
}

#tb-donantes{
	background: #00b3ca;
    color: #fff;
}

#tb-familiares{
	background: #f52112;
    color: #fff;
}


.noBorder{
	border-radius: 0;
}

.title-info{
	color: #fff;
	background-color: #00BCD4;
}

.title-editar{
	color: #fff;
	background-color: #259a8f;
}

.title-primary{
	color: #fff;
	background-color: #337ab7;
}

.title-success{
	color: #fff;
	background-color: #2bb736;
}

.alerta{
	position: fixed;
	z-index: 2000;
	right: 0;
	margin: 15px;
}

.menu-opciones{
	width: auto;
	height: auto;
	text-align: center;
}

.menu-opciones > .btn-opcion{
	margin: 1px 0px;
	padding: 3px 6px;
	color: #3e6577;
	background-color: #fff;
	position: relative;
	border: 1px solid #7499ab;
}

.menu-opciones > .btn-opcion:hover{
	color: #fff;
	background-color: #00BCD4;
	transition: all .5s ease;
	cursor: pointer;
}